.fix{
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // position: absolute;
    // z-index: 1;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    // will-change: scroll-position;
    // contain: size style layout;
    // display: flex;             // added by me
    // flex-direction: column;    // added by me
    height: auto;
    width: 100%;
    top: 0;
    position: fixed;

}
.postFix{
    padding-top: 500px;
}